.button {
-fx-max-width: 100;
-fx-max-height: 100;
-fx-text-alignment: center;
-fx-alignment: center;
-fx-font-size: 12;
-fx-font-weight: bold;
-fx-border-color: white;
-fx-border-size: 3;
-fx-background-color: #b2ad7f;
}

.textArea {
-fx-max-width: 100;
-fx-max-height: 100;
}

.root {
-fx-background-color: white;
-fx-padding: 10;
-fx-border-style: solid inside;
-fx-border-width: 2;
-fx-border-insets: 20;
-fx-border-radius: 5;
}

.combo-box {
-fx-spacing: 20;
}


